<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.heartsome.cat.te.tmxeditor.editor.TmxEditorViewer"
            id="net.heartsome.cat.te.tmxeditor.editor.TmxEditorViewer"
            name="TmxEditorView"
            restorable="true">
      </view>
      <view
            class="net.heartsome.cat.te.tmxeditor.view.PropertiesView"
            icon="images/view/propView.png"
            id="net.heartsome.cat.te.tmxeditor.editor.TmxPropertiesViewer"
            name="%view.PropertiesView.title"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="net.heartsome.cat.te.tmxeditor.view.QAResultViewer"
            id="net.heartsome.cat.te.tmxeditor.QAResultViewer"
            name="%view.qa.title"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.heartsome.cat.te.perspective">
         <view
               closeable="false"
               id="net.heartsome.cat.te.tmxeditor.editor.TmxEditorViewer"
               minimized="false"
               moveable="false"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="net.heartsome.cat.te.tmxeditor.editor.TmxPropertiesViewer"
               minimized="false"
               moveable="true"
               ratio="0.8f"
               relationship="right"
               relative="net.heartsome.cat.te.tmxeditor.editor.TmxEditorViewer"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="net.heartsome.cat.te.tmxeditor.QAResultViewer"
               minimized="false"
               moveable="true"
               ratio="0.8f"
               relationship="bottom"
               relative="net.heartsome.cat.te.tmxeditor.editor.TmxEditorViewer"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         name="edit"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?after=find.ext">
         <separator
               name="net.heartsome.cat.te.tmxeditor.separator2"
               visible="true">
         </separator>
         <command
               commandId="net.heartsome.cat.te.tmxeditor.command.addtu"
               icon="images/menu/edit/insertTu.png"
               id="net.heartsome.cat.te.tmxeditor.menu.edit.addtu"
               label="%menu.addtu"
               style="push">
         </command>
         <command
               commandId="net.heartsome.cat.te.tmxeditor.command.deletetu"
               icon="images/menu/edit/deleteTu.png"
               id="net.heartsome.cat.te.tmxeditor.menu.edit.deletetu"
               label="%menu.deletetu"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=group.tu">
         <toolbar
               id="net.heartsome.cat.te.tmxeditor.toolbar.tu">
            <command
                  commandId="net.heartsome.cat.te.tmxeditor.command.addtu"
                  icon="images/menu/edit/insertTu_24.png"
                  id="net.heartsome.cat.te.tmxeditor.menu.edit.addtu"
                  label="%menu.addtu"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.te.tmxeditor.command.deletetu"
                  icon="images/menu/edit/deleteTu_24.png"
                  id="net.heartsome.cat.te.tmxeditor.menu.edit.deletetu"
                  label="%menu.deletetu"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         name="Edit menu"
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.tmxeditor.command.addtu"
            name="%menu.addtu">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.tmxeditor.command.deletetu"
            name="%menu.deletetu">
      </command>
   </extension>
   <extension
         name="Edit Menu"
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.te.tmxeditor.command.addtu"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="ALT+INSERT">
      </key>
      <key
            commandId="net.heartsome.cat.te.tmxeditor.command.deletetu"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="ALT+DELETE">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.heartsome.cat.te.tmxeditor.preference.TMXEditorPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.te.tmxeditor.handler.AddTuHandler"
            commandId="net.heartsome.cat.te.tmxeditor.command.addtu">
         <enabledWhen>
            <test
                  property="net.heartsome.cat.te.tmxeditor.propertyTester.isTmxEditoerEnable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="net.heartsome.cat.te.tmxeditor.handler.DeleteTuHandler"
            commandId="net.heartsome.cat.te.tmxeditor.command.deletetu">
         <enabledWhen>
            <test
                  property="net.heartsome.cat.te.tmxeditor.propertyTester.isTmxEditoerEnable">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.heartsome.cat.te.tmxeditor.propertytester.TmxEditorTester"
            id="net.heartsome.cat.te.tmxeditor.propertytester.TmxEditorTester"
            namespace="net.heartsome.cat.te.tmxeditor.propertyTester"
            properties="isTmxEditoerEnable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         name="view"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.heartsome.cat.te.tmxeditor.toolbar.showNonprinttingchar">
            <command
                  commandId="net.heartsome.cat.te.tmxeditor.command.showNonprinttingChar"
                  icon="images/Nonprintting.png"
                  label="%toolbar.nonprintting"
                  style="toggle">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         name="view"
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="net.heartsome.cat.te.tmxeditor.handler.ShowHidenNonPrintingCharacterHandler"
            id="net.heartsome.cat.te.tmxeditor.command.showNonprinttingChar"
            name="%toolbar.nonprintting">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="net.heartsome.cat.te.tmxeditor.state2">
         </state>
      </command>
   </extension>
   <extension
         name="properViewCmd"
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.tmxeditor.deleteproper"
            name="%command.tmxeditor.propertiesView.delete">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.tmxeditor.editproper"
            name="%command.tmxeditor.propertiesView.eidt">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.tmxeditor.addproper"
            name="%command.tmxeditor.propertiesView.add">
      </command>
   </extension>
   
   <extension
         name="properViewBindings"
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.te.tmxeditor.deleteproper"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="ALT+D">
      </key>
      <key
            commandId="net.heartsome.cat.te.tmxeditor.editproper"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="ALT+E">
      </key>
      <key
            commandId="net.heartsome.cat.te.tmxeditor.addproper"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="ALT+A">
      </key>
   </extension>
</plugin>
