<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:file?after=rtf.switch">
         <separator
               name="net.heartsome.cat.ts.ui.rtf.separator2"
               visible="true">
         </separator>
         <command
               commandId="net.heartsome.cat.ts.ui.rtf.command.exportRTFCommand"
               icon="icons/rtf-export.png"
               label="%rtf.menu.export"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.ts.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="net.heartsome.cat.ts.ui.rtf.command.importRTFCommand"
               icon="icons/rtf-import.png"
               label="%rtf.menu.import"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.ts.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.heartsome.cat.common.ui.navigator.view#PopupMenu?after=group.rtfConverter">
         <command
                  commandId="net.heartsome.cat.ts.ui.rtf.command.exportRTFCommand"
                  icon="icons/rtf-export.png"
                  label="%rtf.menu.export"
                  style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.ts.showmenu.definition">
               </reference>
            </visibleWhen>
            </command>
            <command
                  commandId="net.heartsome.cat.ts.ui.rtf.command.importRTFCommand"
                  icon="icons/rtf-import.png"
                  label="%rtf.menu.import"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="net.heartsome.cat.ts.showmenu.definition">
                  </reference>
               </visibleWhen>
            </command>
            <separator
                  name="net.heartsome.cat.ts.ui.rtf.separator"
                  visible="true">
            </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            id="net.heartsome.cat.ts.ui.rtf.command.exportRTFCommand"
            name="%rtf.command.export">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            id="net.heartsome.cat.ts.ui.rtf.command.importRTFCommand"
            name="%rtf.command.import">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.ts.ui.rtf.handler.ExportRTFHandler"
            commandId="net.heartsome.cat.ts.ui.rtf.command.exportRTFCommand">
         <enabledWhen>
            <test
                  property="rtf.enabled">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.rtf.handler.ImportRTFHandler"
            commandId="net.heartsome.cat.ts.ui.rtf.command.importRTFCommand">
         <enabledWhen>
            <test
                  property="rtf.enabled">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.ts.ui.rtf.command.exportRTFCommand"
            icon="icons/rtf-export.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.rtf.command.importRTFCommand"
            icon="icons/rtf-import.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.ts.ui.rtf.command.exportRTFCommand"
            contextId="net.heartsome.cat.ts.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
      <key
            commandId="net.heartsome.cat.ts.ui.rtf.command.importRTFCommand"
            contextId="net.heartsome.cat.ts.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+U">
      </key>
   </extension>
</plugin>
