<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.heartsome.cat.te.ui.perspective.TEPerspective"
            icon="images/perspective/tmx_16.png"
            id="net.heartsome.cat.te.perspective"
            name="Tmx Editor">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.heartsome.cat.te.context"
            name="TmxEditor Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         name="FileMenu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new.ext">
         <command
               commandId="net.heartsome.cat.te.ui.command.newtmxfile"
               id="net.heartsome.cat.te.ui.menu.file.newtmxfile"
               label="%menu.file.newtmxfile"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="net.heartsome.cat.te.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="net.heartsome.cat.te.ui.command.opentmxfile"
               id="net.heartsome.cat.te.ui.menu.file.opentmxfile"
               label="%menu.file.opentmxfile"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
         <menu
               id="opentmxfiledb"
               label="%menu.file.opentmxdb">
            <command
                  commandId="net.heartsome.cat.te.ui.command.opentmxfiledb"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.te.ui.command.opentmxserverdb"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=close.ext">
         <command
               commandId="net.heartsome.cat.te.ui.command.closetmx"
               id="net.heartsome.cat.te.ui.menu.file.closetmx"
               label="%menu.file.closetmx"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               icon="images/file/save.png"
               id="net.heartsome.cat.te.ui.menu.file.save"
               label="%menu.file.save"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAs"
               icon="images/file/saveas.png"
               id="net.heartsome.cat.te.ui.menu.file.saveas"
               label="%menu.file.saveas"
               style="push"
               tooltip="%menu.file.saveas">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="net.heartsome.cat.te.ui.command.showtmxfileprop"
               id="net.heartsome.cat.te.ui.menu.file.showtmxprop"
               label="%menu.file.tmxfileprop"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="net.heartsome.cat.te.ui.closeEndSeparator"
               visible="true">
         </separator>
         <!-- 分割与合并 tmx 文件 -->
         <command
               commandId="net.heartsome.cat.te.ui.splitTmxCommand"
               id="net.heartsome.cat.te.ui.splitTmxCommand"
               label="%menu.edit.splitTmx"
               style="push">
         </command>
         <command
               commandId="net.heartsome.cat.te.ui.mergeTmxCommand"
               id="net.heartsome.cat.te.ui.mergeTmxCommand"
               label="%menu.edit.mergeTmx"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=history.group">
         <dynamic
               class="net.heartsome.cat.te.ui.history.ReopenTmxEditorMenu"
               id="net.heartsome.cat.te.ui.historymenu">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=group.file">
         <toolbar
               id="net.heartsome.cat.te.ui.toolbar.file">
            <command
                  commandId="net.heartsome.cat.te.ui.command.newtmxfile"
                  icon="images/file/newFile_24.png"
                  id="net.heartsome.cat.te.ui.toolbar.file.newtmxfile"
                  label="%menu.file.newtmxfile"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.te.ui.command.opentmxfile"
                  icon="images/file/openTmx_24.png"
                  id="net.heartsome.cat.te.ui.toolbar.file.opentmxfile"
                  label="%menu.file.opentmxfile"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  icon="images/file/save_24.png"
                  id="net.heartsome.cat.te.ui.toolbar.file.save"
                  label="%menu.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  icon="images/file/saveas_24.png"
                  id="net.heartsome.cat.te.ui.toolbar.file.saveas"
                  label="%menu.file.saveas"
                  style="push"
                  tooltip="%menu.file.saveas">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         name="FileMenu"
         point="org.eclipse.ui.commands">
      <category
            id="net.heartsome.cat.te.ui.category.file"
            name="%category.file">
      </category>
      <command
            categoryId="net.heartsome.cat.te.ui.category.file"
            defaultHandler="net.heartsome.cat.te.ui.newtmx.handler.NewTmxFileHandler"
            id="net.heartsome.cat.te.ui.command.newtmxfile"
            name="%menu.file.newtmxfile">
      </command>
      <command
            categoryId="net.heartsome.cat.te.ui.category.file"
            defaultHandler="net.heartsome.cat.te.ui.opentmx.handler.OpenTmxFileHandler"
            id="net.heartsome.cat.te.ui.command.opentmxfile"
            name="%menu.file.opentmxfile">
      </command>
      <command
            categoryId="net.heartsome.cat.te.ui.category.file"
            defaultHandler="net.heartsome.cat.te.ui.opentmx.handler.OpenFileDbHandler"
            id="net.heartsome.cat.te.ui.command.opentmxfiledb"
            name="%menu.file.opentmxfiledb">
      </command>
      <command
            categoryId="net.heartsome.cat.te.ui.category.file"
            defaultHandler="net.heartsome.cat.te.ui.opentmx.handler.OpenServerDbHander"
            id="net.heartsome.cat.te.ui.command.opentmxserverdb"
            name="%menu.file.opentmxserverdb">
      </command>
      <command
            categoryId="net.heartsome.cat.te.ui.category.file"
            defaultHandler="net.heartsome.cat.te.ui.closetmx.CloseTmxHandler"
            id="net.heartsome.cat.te.ui.command.closetmx"
            name="%menu.file.closetmx">
      </command>
      <command
            categoryId="net.heartsome.cat.te.ui.category.file"
            id="net.heartsome.cat.te.ui.command.showtmxfileprop"
            name="%menu.file.tmxfileprop">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.te.ui.command.newtmxfile"
            icon="images/file/newFile.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.opentmxfile"
            icon="images/file/openTmx.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.showtmxfileprop"
            icon="images/file/tmxFileProp.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.closetmx"
            icon="images/file/close.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.save"
            icon="images/file/save.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.saveAs"
            icon="images/file/saveas.png">
      </image>
   </extension>
   <extension
         name="EditMenu"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?before=undo.ext">
         <command
               commandId="org.eclipse.ui.edit.undo"
               icon="images/edit/undo.png"
               id="undo"
               label="%menu.edit.undo"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.redo"
               icon="images/edit/redo.png"
               id="redo"
               label="%menu.edit.redo"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?after=taskEdit">
         <command
               commandId="net.heartsome.cat.te.ui.command.modifyLang"
               label="%menu.task.changLangCode"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="net.heartsome.cat.te.ui.command.deleteLang"
               label="%menu.task.deleteLangCode"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="net.heartsome.cat.te.ui.taskEdit.separator"
               visible="true">
         </separator>
         <command
               commandId="net.heartsome.cat.te.ui.command.cleanSelectInnerTag"
               label="%menu.task.cleanSelectInnerTags"
               style="push">
         </command>
         <command
               commandId="net.heartsome.cat.te.ui.command.cleanTags"
               label="%menu.task.cleanInnerTags"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="net.heartsome.cat.te.ui.command.batTask"
               label="%menu.task.deleteBatchJobs"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=group.undoredo">
         <toolbar
               id="net.heartsome.cat.te.ui.toolbar.undoredo">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  icon="images/edit/undo_24.png"
                  label="%menu.edit.undo"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="net.heartsome.cat.te.showmenu.definition">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  icon="images/edit/redo_24.png"
                  label="%menu.edit.redo"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="net.heartsome.cat.te.showmenu.definition">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=group.tmxclear">
         <toolbar
               id="net.heartsome.cat.te.ui.toolbar.tmxclear">
            <command
                  commandId="net.heartsome.cat.te.ui.command.tmxValidator"
                  icon="images/tool/tmxValidator_24.png"
                  label="%menu.tool.tmxVvlidator"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.te.ui.command.batTask"
                  icon="images/edit/clearTmx_24.png"
                  label="%menu.task.deleteBatchJobs"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         name="taskMenu"
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.ui.splitTmxCommand"
            name="%menu.edit.splitTmx">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.ui.mergeTmxCommand"
            name="%menu.edit.mergeTmx">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.ui.command.modifyLang"
            name="%menu.task.changLangCode">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.ui.command.deleteLang"
            name="%menu.task.deleteLangCode">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.ui.command.cleanSelectInnerTag"
            name="%menu.task.cleanSelectInnerTags">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.ui.command.cleanTags"
            name="%menu.task.cleanInnerTags">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.heartsome.cat.te.ui.command.batTask"
            name="%menu.task.deleteBatchJobs">
      </command>
   </extension>
   
   
   
   <extension
         name="editMenu"
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.te.ui.splitTmxCommand"
            icon="images/edit/splitTmx.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.mergeTmxCommand"
            icon="images/edit/mergeTmx.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.modifyLang"
            icon="images/edit/changeLang.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.deleteLang"
            icon="images/edit/deleteLang.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.cleanTags"
            icon="images/edit/clearInnerTag.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.batTask"
            icon="images/edit/clearTmx.png">
      </image>
   </extension>
   <extension
         name="FileMenuHandler"
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.te.ui.splitTmx.SplitTmxHandler"
            commandId="net.heartsome.cat.te.ui.splitTmxCommand">
      </handler>
      <handler
            class="net.heartsome.cat.te.ui.mergetmx.handler.MergeTmxHanlder"
            commandId="net.heartsome.cat.te.ui.mergeTmxCommand">
      </handler>
      <handler
            class="net.heartsome.cat.te.ui.tmxproperties.ShowTmxPropHandler"
            commandId="net.heartsome.cat.te.ui.command.showtmxfileprop">
         <enabledWhen>
            <test
                  property="net.heartsome.cat.te.ui.propertyTester.isFileDataAccess">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="net.heartsome.cat.te.ui.task.handler.ModifyLangCodeHandler"
            commandId="net.heartsome.cat.te.ui.command.modifyLang">
         <enabledWhen>
            <test
                  property="net.heartsome.cat.te.ui.propertyTester.isFileDataAccess">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="net.heartsome.cat.te.ui.task.handler.DeleteLangHandler"
            commandId="net.heartsome.cat.te.ui.command.deleteLang">
         <enabledWhen>
            <test
                  property="net.heartsome.cat.te.ui.propertyTester.isFileDataAccess">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="net.heartsome.cat.te.ui.task.handler.CleanTagsHandler"
            commandId="net.heartsome.cat.te.ui.command.cleanTags">
         <enabledWhen>
            <test
                  property="net.heartsome.cat.te.ui.propertyTester.isFileDataAccess">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="net.heartsome.cat.te.ui.task.handler.DeleteBatchJobsHandler"
            commandId="net.heartsome.cat.te.ui.command.batTask">
         <enabledWhen>
            <test
                  property="net.heartsome.cat.te.tmxeditor.propertyTester.isTmxEditoerEnable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="net.heartsome.cat.te.ui.task.handler.CleanSelectedLinesTagsHandler"
            commandId="net.heartsome.cat.te.ui.command.cleanSelectInnerTag">
         <enabledWhen>
            <test
                  property="net.heartsome.cat.te.ui.propertyTester.isFileDataSelectedAccess">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         name="ToolMenu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="tool"
               label="%menu.tool">
            <command
                  commandId="net.heartsome.cat.te.ui.command.tmx2other"
                  label="%menu.tool.tmx2other"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.te.ui.command.other2tmx"
                  label="%menu.tool.other2tmx"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.te.ui.command.tmxValidator"
                  label="%menu.tool.tmxVvlidator"
                  name="%menu.tool.tmxVvlidator">
            </command>
            <separator
                  name="net.heartsome.cat.te.ui.separator.convert"
                  visible="true">
            </separator>
            <command
                  commandId="net.heartsome.cat.te.ui.command.encodingConverter"
                  label="%menu.tool.encodingcoverter"
                  style="push">
            </command>
            <separator
                  name="net.heartsome.cat.te.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="net.heartsome.cat.te.ui.command.options"
                  label="%menu.tool.options"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.heartsome.cat.te.showmenu.definition">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=group.tmxtool">
         <toolbar
               id="net.heartsome.cat.te.ui.toolbar.tmxtool">
            <command
                  commandId="net.heartsome.cat.te.ui.command.tmx2other"
                  icon="images/tool/tmx2others_24.png"
                  label="%menu.tool.tmx2other"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.te.ui.command.other2tmx"
                  icon="images/tool/others2tmx_24.png"
                  label="%menu.tool.other2tmx"
                  style="push">
            </command>
            <separator
                  name="net.heartsome.cat.te.ui.separator1">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         name="ToolCommand"
         point="org.eclipse.ui.commands">
      <category
            id="net.heartsome.cat.te.ui.tool.category"
            name="%menu.tool.tool.category">
      </category>
      <command
            categoryId="net.heartsome.cat.te.ui.tool.category"
            defaultHandler="net.heartsome.cat.te.ui.converter.handler.TmxConvert2FileHanlder"
            id="net.heartsome.cat.te.ui.command.tmx2other"
            name="%menu.tool.tmx2other">
      </command>
      <command
            categoryId="net.heartsome.cat.te.ui.tool.category"
            defaultHandler="net.heartsome.cat.te.ui.converter.handler.Convert2TmxFileHanlder"
            id="net.heartsome.cat.te.ui.command.other2tmx"
            name="%menu.tool.other2tmx">
      </command>
      <command
            categoryId="net.heartsome.cat.te.ui.tool.category"
            defaultHandler="net.heartsome.cat.te.ui.tool.handler.PairFileHandler"
            id="net.heartsome.cat.te.ui.command.pairFile"
            name="%menu.tool.pairFile">
      </command>
      <command
            categoryId="net.heartsome.cat.te.ui.tool.category"
            id="net.heartsome.cat.te.ui.command.tmxValidator"
            name="%menu.tool.tmxVvlidator">
      </command>
      <command
            categoryId="net.heartsome.cat.te.ui.tool.category"
            defaultHandler="net.heartsome.cat.te.ui.encodingconveter.EncodingConverterHandler"
            id="net.heartsome.cat.te.ui.command.encodingConverter"
            name="%menu.tool.encodingcoverter">
      </command>
      <command
            categoryId="net.heartsome.cat.te.ui.tool.category"
            id="net.heartsome.cat.te.ui.command.options"
            name="%menu.tool.options">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.te.ui.command.tmx2other"
            icon="images/tool/tmx2others.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.other2tmx"
            icon="images/tool/others2tmx.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.pairFile"
            icon="images/tool/filePair.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.tmxValidator"
            icon="images/tool/tmxValidator.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.options"
            icon="images/tool/option.png">
      </image>
   </extension>
   <extension
         name="tooleMenu"
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.te.ui.tmxvalidator.TmxValidateHandler"
            commandId="net.heartsome.cat.te.ui.command.tmxValidator">
      </handler>
      <handler
            class="net.heartsome.cat.te.ui.tool.handler.OpenOptionDialogHandler"
            commandId="net.heartsome.cat.te.ui.command.options">
      </handler>
   </extension>
   <extension
         name="HelpMenu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=help.keyAssist">
         <command
               commandId="org.eclipse.ui.window.showKeyAssist"
               label="%menu.help.keyAssist"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=group.about">
         <command
               commandId="net.heartsome.cat.te.ui.command.about"
               label="%menu.help.about"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         name="HelpMenu"
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.help"
            defaultHandler="net.heartsome.cat.te.ui.about.handler.AboutHandler"
            id="net.heartsome.cat.te.ui.command.about"
            name="%menu.help.about">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ui.window.showKeyAssist"
            icon="images/help/key.png">
      </image>
      <image
            commandId="net.heartsome.cat.te.ui.command.about"
            icon="images/perspective/tmx_16.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.p2update.command.checkupdate"
            icon="images/help/update.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.heartsome.cat.te.ui.page.TmxFilePropPage"
            id="net.heartsome.cat.te.ui.page.tmxfileproppage"
            name="Resource">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.heartsome.cat.te.ui.preferencepage.system.SystemPreferencePage"
            id="net.heartsome.cat.te.ui.preferencepage.system.SystemPreferencePage"
            name="%menu.tool.system">
      </page>
      <page
            category="net.heartsome.cat.te.ui.preferencepage.system.SystemPreferencePage"
            class="org.eclipse.ui.internal.net.ProxyPreferencePage"
            id="org.eclipse.ui.net.proxy_preference_page_context"
            name="%menu.tool.connect.net">
      </page>
      <page
            category="net.heartsome.cat.te.ui.preferencepage.system.SystemPreferencePage"
            class="net.heartsome.cat.te.ui.preferencepage.key.KeysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys"
            name="%menu.tool.keyset">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.heartsome.cat.te.ui.preferencepage.system.SystemPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.heartsome.cat.te.ui.propertytester.DataAccessTester"
            id="net.heartsome.cat.te.ui.propertyTester.dataaccess"
            namespace="net.heartsome.cat.te.ui.propertyTester"
            properties="isFileDataAccess"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="net.heartsome.cat.te.ui.propertytester.SelectFileDataTester"
            id="net.heartsome.cat.te.ui.propertyTester.selectfiledataaccess"
            namespace="net.heartsome.cat.te.ui.propertyTester"
            properties="isFileDataSelectedAccess"
            type="java.lang.Object">
      </propertyTester>      
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.heartsome.cat.te.showmenu.definition">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="net.heartsome.cat.te.perspective">
            </equals>
         </with>
      </definition>
   </extension>
   
   
      <!-- 编辑菜单的　handler -->
   
   <!-- 编辑菜单的　commands -->
   <extension
         name="fileMenu"
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.te.ui.command.newtmxfile"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="CTRL+N">
      </key>
      <key
            commandId="net.heartsome.cat.te.ui.command.opentmxfile"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="CTRL+O">
      </key>
   </extension>
   <extension
         name="ToolMenu"
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.te.ui.command.other2tmx"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+C">
      </key>
      <key
            commandId="net.heartsome.cat.te.ui.command.tmx2other"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="ALT+C">
      </key>
      <key
            commandId="net.heartsome.cat.te.ui.command.options"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="F4">
      </key>
   </extension>
   <extension
         name="taskMenu"
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.te.ui.command.modifyLang"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="CTRL+E">
      </key>
      <key
            commandId="net.heartsome.cat.te.ui.command.deleteLang"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="CTRL+D">
      </key>
      <key
            commandId="net.heartsome.cat.te.ui.command.cleanTags"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="CTRL+DELETE">
      </key>
      <key
            commandId="net.heartsome.cat.te.ui.command.batTask"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="F9">
      </key>
      <key
            commandId="net.heartsome.cat.te.ui.command.cleanSelectInnerTag"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="ALT+SHIFT+DELETE">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="My.unwanted.commands"
            name="Unwanted Commands">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="unwanted">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="My.unwanted.commands"
            pattern="org.eclipse.ui.window.showKeyAssist">
      </activityPatternBinding>
   </extension>
</plugin>
