<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="%help.toc.index"
            primary="true">
      </toc>
      <toc
            file="%help.toc.newFetureToc"
            primary="true">
      </toc>
      <toc
            file="%help.toc.useTmxEditorToc"
            primary="true">
      </toc>
      <toc
            file="%help.toc.editTmxToc"
            primary="true">
      </toc>
      <toc
            file="%help.toc.editTMToc"
            primary="true">
      </toc>
      <toc
            file="%help.toc.searchAndFilterToc"
            primary="true">
      </toc>
      <toc
            file="%help.toc.QAToc"
            primary="true">
      </toc>
      <toc
            file="%help.toc.toolsDesToc"
            primary="true">
      </toc>
      <toc
            file="%help.toc.aboutToc"
            primary="true">
      </toc>
      <toc
            file="%help.toc.termTableToc"
            primary="true">
      </toc>
      <toc
            file="%help.toc.copyrigthToc"
            primary="true">
      </toc>
   </extension>
   <extension
         id="selfHelp"
         name="selfHelp"
         point="org.eclipse.ui.helpSupport">
      <config
            class="net.heartsome.cat.te.ui.help.AbstractSelfHelpUI">
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <key
            commandId="org.eclipse.ui.help.helpContents"
            contextId="net.heartsome.cat.te.context"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>
</plugin>
